---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import { songs } from "@/lib/data";
import BackPage from "@/components/BackPage.astro"
import { fade } from "astro:transitions";
import Image from "astro/components/Image.astro";


export const getStaticPaths: GetStaticPaths = () => {
  return songs.map((song) => ({
    params: { id: song.id.toString() },
  }));
};

const { id } = Astro.params;
const song = songs.find((song) => song.id.toString() === id);
---

<Layout title=`YTM Clon ${song?.title}`>
  <BackPage />
  <div
    class="grid grid-flow-row mr-20 lg:mr-0 lg:grid-cols-2 gap-10 w-full items-center justify-items-center "
  >
    <picture class="flex flex-col h-full px-7 relative  order-2 lg:order-1">
      <img 
      src={song?.image} 
      class="animate-fade-in animate-delay-150 blur-[27px] min-w-[50px] h-auto lg:w-[700px] px-7 rounded-xl object-cover right-0 left-0 my-0 mx-auto -z-10 absolute" alt="">

      <Image
        src=`${song?.image}`
        alt=`${song?.title} cover`
        width={650}
        height={650}
        loading={"eager"}
        transition:name={`${id} image`}
        class=" min-w-[200px] h-auto lg:w-[650px] rounded-xl object-cover aspect-auto"
      />
      
      <p
        class="text-gray-400 text-2xl text-center text-wrap truncate lg:text-start flex flex-col lg:text-3xl lg:pt-4"
        transition:name={`${id} artist`}
      >
        {song?.artists}
      </p>
    </picture>
    <div class="order-1 lg:order-2 w-full max-[400px]">
      <h1
        transition:name={`${id} title`}
        class="text-3xl md:text-5xl text-pretty lg:text-5xl text-center lg:text-start text-white max-w-90"
      >
        {song?.title}
      </h1>
      <div id="lyrics" class=" hidden lg:block h-full w-full lg:w-auto lg:h-dvh overflow-auto mt-10 rounded-2xl relative bottom-0 justify-start p-7 bg-gradient-to-b from-slate-800 to-slate-1000">
        <p class="text-white text-2xl whitespace-pre-line">
          {song?.lyrics}
        </p>
      </div>
    </div>
  </div>
</Layout>

<style>
  #lyrics {
    scrollbar-color: #4B5563 #1F2937;
  }
</style>