---
import type { GetStaticPaths } from "astro";
import Layout from "@/layouts/Layout.astro";
import { artists } from "@/lib/artistData";
import { ArtistSongs } from "@/components/ArtistSongs";
export const getStaticPaths: GetStaticPaths = () => {
  return artists.map((artist) => ({
    params: { id: artist.id.toString() },
  }));
};

const { id } = Astro.params;
const artist = artists.find((artist) => artist.id.toString() === id);
---

<Layout 
description=`YTMC ${artist?.name} musics`
title=`YTM Clon ${artist?.name}`>
  <div class="w-full h-full">
    <div class="relative w-full h-[500px]">
      <img
      class="w-full h-full object-cover" 
      src=`${artist?.cover}` alt=`${artist?.name} cover`>
      <div class="absolute bottom-0 mb-16 ml-10">
        <span class=" text-white text-4xl font-bold"
              transition:name=`artist ${artist?.id}`>
          {artist?.name}
        </span>
      </div>
    </div>
    <div class="mt-4 ml-10 h-full">
      <h1 class="text-white text-2xl font-semibold mb-4">Canciones</h1>
      <ArtistSongs id={id} client:load/>
    </div>
  </div>
</slot>
</Layout>

<style>
  #lyrics {
    scrollbar-color: #4B5563 #1F2937;
  }
  img {
    mask-image: linear-gradient(black 70%, transparent);
  }
</style>